@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

  .hero{

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../src/business.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fix
  }
  .herobooking{

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../src/judge.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fix
  }
  .herordv{

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../src/rdv.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fix;
  }

}
